<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <title><%=prod.name%></title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <h1><%=prod.name%></h1>
    <ul>
        <li>Price: $<%=prod.price%></li>
        <li>Category: <%=prod.category%></li>
    </ul>
    <a href="/products/<%=prod._id%>/edit">edit product</a>
    <br>
    <a href="/products">Go to all products</a>

    <form action="/products/<%=prod._id%>?_method=DELETE" method="POST"> 
        <button>DELETE</button>
    </form>

</body>
</html>